* {
   margin: 0;
   padding: 0;
   font-family: Roboto;
}

header {
   background-color: #1F2937;
   padding: 2.5vh 0;
}

nav {
   display: flex;
   justify-content: space-between;
}

h1 {
   font-size: 24px;
   color: #F9FAF8;
   padding-left: 15vw;
}

ul {
   display: flex;
   justify-content: space-between;
   width: 30vw;
   padding-right: 15vw;
}

li {
   font-size: 18px;
   color: #E5E7EB;
   list-style: none;
}

a {
   text-decoration: none;
   color: #E5E7EB;
}

.hero {
   display: flex;
   justify-content: space-between;
   padding-left: 15vw;
}

.hero article {
   padding: 10vh 0;
}

.hero-text {
   width: 33vw;
}
.hero h2 {
   font-size: 48px;
   font-weight: extra-bold;
   color: #F9FAF8;
}
.hero p {
   font-size: 18px;
   color: #E5E7EB;
}

.hero-img {
   padding-right: 15vw;
   width: 30vw;
}

.hero-text button {
   margin: 2.5vh 0;
   background-color: #3882F6;
   padding: 1.5vh 3vw;
   color: #E5E7EB;
   border-style: none;
   border-radius: 10px;
   font-size: 18px;
}

.information .cards {
   display: flex;
   justify-content: center;
}

.information h2 {
   text-align: center;
   padding: 5vh 0;
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
}

.information article {
   width: 12vw;
   margin: 0 2vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2.5vh 1.5vw;
}

.information article p {
   text-align: center;
   font-size: 18px;
   color: #1F2937;
   padding: 0 0 10vh 0;
}

.cards article img {
   width: 10vw;
   border: 3.5px solid #3882F6;
   border-radius: 10px;
   margin-bottom: 1.5vh;
}

.quote {
   background-color: #E5E7EB;
   font-size: 36px;
   font-weight: lighter;
   font-style: italic;
   color: #1F2937;
   padding: 10vh 20vw;
}

.quote article:nth-child(1) {
   width: 58vw;
}

.quote article:nth-child(2) {
   width: 58vw;
   text-align: end;
}

.cta {
   background-color: #3882F6;
   width: 50vw;
   margin: 10vh auto;
   padding: 5vh 10vw;
   text-align: left;
   border-radius: 10px;
   color: #E5E7EB;   
   display: flex;
   justify-content: space-between;
}

.cta h5 {
   font-size: 24px;
}

.cta button {
   background-color: #3882F6;
   color: #E5E7EB;
   border: 2px solid #E5E7EB;
   border-radius: 10px;
   font-size: 18px; 
   padding: 0 3vw;
}

footer {
   background-color: #1F2937;
   padding: 5vh 10vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #E5E7EB;   
}